@charset "UTF-8";

@import "base";
@import "color";

.header {

  h1 {
    text-align: center;
  }

  &_title {
    font-size: 38px;
    background-color: $title_c;
    color: $main_c;

  }
  p {

    strong {
      color: $accent_c;
    }
  }
}